# --- Unity Core ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/

# --- IDEs & Editors (VS Code, Visual Studio, JetBrains) ---
.vscode/
.idea/
*.csproj
*.sln
*.unityproj
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# --- Android & Meta Quest Specific ---
# Ignoramos los archivos finales instalables (se generan al compilar)
*.apk
*.aab
*.unitypackage

# --- OS Specific ---
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# --- Crashlytics & Reports ---
sysinfo.txt
crashlytics-build.properties

*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/

/[Aa]ssets/.[Uu]tmp/
.[Uu]tmp/

.env
.env.meta

/[Bb]uild/
/[Bb]uilds/
# Archivos de depuración de Android
**.symbols.zip

.metadata/

# --- Unity Recovery & Temp Assets ---
/[Aa]ssets/_Recovery/
/[Aa]ssets/_Recovery.meta
/[Aa]ssets/[Aa]utoplay/
/[Aa]ssets/[Aa]utoplay.meta